@charset "UTF-8";
/*===============*/
/***** BASE ******/
/*===============*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

html {
  font-size: 87.5%;
  line-height: 1.5em; }

html {
  height: 100%; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: relative;
  font-family: sans-serif; }
  body *, body *:after, body *:before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none !important;
    -moz-appearance: none;
    -webkit-appearance: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700; }

h1 {
  font-size: 44px;
  font-size: 3.157rem;
  line-height: 63px;
  line-height: 4.5rem; }

h2 {
  font-size: 33px;
  font-size: 2.369rem;
  line-height: 42px;
  line-height: 3rem; }

h3 {
  font-size: 25px;
  font-size: 1.777rem;
  line-height: 42px;
  line-height: 3rem; }

h4 {
  font-size: 19px;
  font-size: 1.333rem;
  line-height: 42px;
  line-height: 3rem; }

h5 {
  font-size: 14px;
  font-size: 1rem;
  line-height: 21px;
  line-height: 1.5rem; }

h6 {
  font-size: 11px;
  font-size: 0.75rem;
  line-height: 21px;
  line-height: 1.5rem; }

img, iframe {
  max-width: 100%; }

p {
  margin-top: 11px;
  margin-top: 0.75rem;
  margin-bottom: 11px;
  margin-bottom: 0.75rem; }

ul, ol {
  margin-top: 11px;
  margin-top: 0.75rem;
  margin-bottom: 11px;
  margin-bottom: 0.75rem;
  margin-left: 10px; }

table {
  width: 100%; }
  table th {
    text-align: center;
    font-weight: 700;
    background: #ccc; }
  table td, table th {
    padding: 10px;
    border: 1px solid #000; }

a {
  text-decoration: underline; }
  a:hover {
    text-decoration: none; }

ul ol, ol ol {
  counter-reset: cnt; }
  ul ol li, ol ol li {
    padding-left: 20px; }
    ul ol li:before, ol ol li:before {
      counter-increment: cnt;
      content: counter(cnt,lower-alpha) ")";
      position: absolute;
      top: 0;
      left: 0; }

ul ul li, ol ul li {
  padding-left: 20px;
  position: relative; }
  ul ul li:before, ol ul li:before {
    content: "*";
    position: absolute;
    top: 2px;
    left: 0; }

ul > li {
  padding-left: 20px;
  position: relative; }
  ul > li:before {
    content: "—";
    position: absolute;
    top: 0;
    left: 0; }

ol {
  counter-reset: cnt; }
  ol > li {
    position: relative;
    padding-left: 20px; }
    ol > li:before {
      content: counter(cnt) ".";
      counter-increment: cnt;
      position: absolute;
      top: 0;
      left: 0; }

/*===============*/
/**** LAYOUT *****/
/*===============*/
/*===============*/
/**** MODULE *****/
/*===============*/
.m-form {
  width: 50%;
  margin: auto; }

.m-form_item {
  padding: 10px 0; }

.m-btn {
  padding: 10px 20px;
  margin: 0;
  background: #ccc;
  color: #fff;
  border: 1px solid #999;
  cursor: pointer; }

/* custom input */
.m-input {
  border: 1px solid #ccc;
  height: 30px;
  width: 100%; }

/* custom checkbox */
.m-checkbox,
.jq-checkbox {
  width: 13px;
  height: 13px;
  background: #F6F6F6;
  vertical-align: middle;
  cursor: pointer; }
  .m-checkbox.checked,
  .jq-checkbox.checked {
    border: 1px solid #ccc; }
    .m-checkbox.checked .jq-checkbox__div,
    .jq-checkbox.checked .jq-checkbox__div {
      width: 9px;
      height: 9px;
      margin: 1px 0 0 1px;
      background: #666; }
  .m-checkbox.focused,
  .jq-checkbox.focused {
    border: 1px solid #08C; }
  .m-checkbox.disabled,
  .jq-checkbox.disabled {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5; }

/* custom radio */
.m-radio,
.jq-radio {
  width: 12px;
  height: 12px;
  border: 1px solid #C3C3C3;
  border-radius: 50%;
  background: #F6F6F6;
  vertical-align: middle;
  cursor: pointer; }
  .m-radio.checked .jq-radio__div,
  .jq-radio.checked .jq-radio__div {
    width: 6px;
    height: 6px;
    margin: 2px 0 0 2px;
    border-radius: 50%;
    background: #666; }
  .m-radio.focused,
  .jq-radio.focused {
    border: 1px solid #08C; }
  .m-radio.disabled,
  .jq-radio.disabled {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5; }

/* custom file */
.m-file,
.jq-file {
  width: 270px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  vertical-align: middle; }
  .m-file input,
  .jq-file input {
    cursor: pointer;
    height: auto;
    line-height: 1em; }
  .m-file .jq-file__name,
  .jq-file .jq-file__name {
    width: 100%;
    height: 30px;
    padding: 0 80px 0 10px;
    color: #333;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border: 1px solid #CCC;
    border-bottom-color: #B3B3B3;
    border-radius: 4px;
    box-shadow: inset 1px 1px #F1F1F1;
    background: #FFF;
    line-height: 30px; }
  .m-file .jq-file__browse,
  .jq-file .jq-file__browse {
    position: absolute;
    top: 1px;
    right: 1px;
    padding: 0 10px;
    border-left: 1px solid #CCC;
    border-radius: 0 4px 4px 0;
    background: #F1F1F1;
    color: #333;
    text-shadow: 1px 1px #FFF;
    height: 28px;
    line-height: 28px; }

/* custom select */
.m-select,
.jq-selectbox {
  vertical-align: middle;
  cursor: pointer;
  width: 100%; }
  .m-select .jq-selectbox__select,
  .jq-selectbox .jq-selectbox__select {
    height: 30px;
    padding: 0 45px 0 10px;
    border: 1px solid #CCC;
    border-bottom-color: #B3B3B3;
    border-radius: 4px;
    background: #F5F5F5;
    color: #333;
    text-shadow: 1px 1px #FFF; }
  .m-select .jq-selectbox__select-text,
  .jq-selectbox .jq-selectbox__select-text {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 30px; }
  .m-select .jq-selectbox__trigger,
  .jq-selectbox .jq-selectbox__trigger {
    position: absolute;
    top: 0;
    right: 0;
    width: 34px;
    height: 100%;
    border-left: 1px solid #CCC; }
  .m-select .jq-selectbox__trigger-arrow,
  .jq-selectbox .jq-selectbox__trigger-arrow {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    opacity: 0.3;
    position: absolute;
    top: 14px;
    right: 12px;
    width: 0;
    height: 0;
    overflow: hidden;
    border-top: 5px solid #000;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent; }
  .m-select .jq-selectbox__dropdown,
  .jq-selectbox .jq-selectbox__dropdown {
    top: 33px;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid #CCC;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); }
  .m-select ul,
  .jq-selectbox ul {
    margin: 0;
    padding: 0; }
  .m-select li,
  .jq-selectbox li {
    min-height: 18px;
    padding: 5px 10px 6px;
    color: #231F20; }
    .m-select li:before,
    .jq-selectbox li:before {
      content: ""; }
    .m-select li.selected,
    .jq-selectbox li.selected {
      background-color: #a3abb1;
      color: #fff; }
    .m-select li.disabled,
    .jq-selectbox li.disabled {
      color: #aaa; }
    .m-select li.optgroup,
    .jq-selectbox li.optgroup {
      font-weight: 700; }
    .m-select li.option,
    .jq-selectbox li.option {
      padding-left: 25px; }
    .m-select li:hover,
    .jq-selectbox li:hover {
      background-color: #f5f5f5;
      color: #000; }
  .m-select .jq-selectbox__search,
  .jq-selectbox .jq-selectbox__search {
    margin: 5px; }
    .m-select .jq-selectbox__search input,
    .jq-selectbox .jq-selectbox__search input {
      width: 100%;
      margin: 0;
      padding: 5px 27px 6px 8px;
      outline: none;
      border: 1px solid #CCC;
      border-radius: 3px;
      box-shadow: inset 1px 1px #F1F1F1;
      color: #333; }
  .m-select .jq-selectbox__not-found,
  .jq-selectbox .jq-selectbox__not-found {
    margin: 5px;
    padding: 5px 8px 6px;
    background: #F0F0F0;
    font-size: 13px; }

/* custom multi select */
.m-multiselect,
.jq-select-multiple {
  padding: 1px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  border-radius: 4px;
  box-shadow: inset 1px 1px #f1f1f1, 0 1px 2px rgba(0, 0, 0, 0.1);
  background: #FFF;
  color: #333;
  cursor: default;
  width: 100%; }
  .m-multiselect ul,
  .jq-select-multiple ul {
    margin: 0;
    padding: 0; }
  .m-multiselect li,
  .jq-select-multiple li {
    padding: 3px 9px 4px;
    list-style: none; }
    .m-multiselect li:before,
    .jq-select-multiple li:before {
      content: ""; }
    .m-multiselect li.selected,
    .jq-select-multiple li.selected {
      background: #08C;
      color: #FFF; }
    .m-multiselect li.disabled,
    .jq-select-multiple li.disabled {
      color: #AAA; }
    .m-multiselect li.optgroup,
    .jq-select-multiple li.optgroup {
      font-weight: 700; }
    .m-multiselect li.option,
    .jq-select-multiple li.option {
      padding-left: 25px; }
  .m-multiselect.focused,
  .jq-select-multiple.focused {
    border: 1px solid #5794BF; }
  .m-multiselect.disabled,
  .jq-select-multiple.disabled {
    border-color: #CCC;
    background: #F5F5F5;
    box-shadow: none;
    color: #888; }
