@charset "utf-8";

@import 'compass';
@import 'grid';
@import 'mixins';

/* ============================== */
/* RESET */ 
/* ============================== */

@import 'compass/reset';

/* ============================== */
/* BASE */ 
/* ============================== */

@import 'base';

/* ============================== */
/* LAYOUT */ 
/* ============================== */

@import 'layout';

/* ============================== */
/* MODULE */ 
/* ============================== */

@import 'module';

@include layout(header) {
  background: #000;
}
@include module(gallery) {
  padding: 20px;
}
@include module(btn) {
  color: red;
  @include modificator(blue) {
    color: blue;
  }
}

.l-header {
  background: #000;
}
.m-gallery {
  padding: 20px;
}
.m-btn {
  color: red;
  &.__blue {
    color: blue;
  }
}