// Resets
@import 'compass/reset';

// Configs
$base-font-size: 14px !global;
$base-line-height: 21px !global;
$rhythm-unit: 'rem' !global;
$rem-with-px-fallback: true !global;
$total-width: 100%;
$gutter-width: 0px;
$columns: 12;

// Variables
//$icons: sprite-map("icons/*.png", $spacing: 10px, $layout: vertical);
$footer-height: 0px;
$page-width: 980px;

// Vertical Rhythm
@include establish-baseline;

// Font-Face
// @include font-face( "font-name", font-files(
// 	"font-folder/font-filename.woff",woff,
// 	"font-folder/font-filename.ttf",truetype, 
// 	"font-folder/font-filename.svg",svg
// 	),"font-folder/font-filename.eot", bold, italic);

// Mixins
@mixin addIcon($icon-name, $position: absolute){
	position: $position;
	background-image: sprite-url($icons);
	background-position: sprite-position($icons, $icon-name);
	@include sprite-dimensions($icons, $icon-name);
}

@mixin placeholderStyle{
	// style for placeholders
}

@mixin addPlaceholder{
	input:-moz-placeholder {
		@include placeholderStyle();
	}
	input::-moz-placeholder {
		@include placeholderStyle();
	}
	input:-ms-input-placeholder{
		@include placeholderStyle();
	}
	input::-webkit-input-placeholder {
		@include placeholderStyle();
	}
}

// Base style
html{
	height: 100%;
}
body{
	@include clearfix();
	width: 100%;
	height: 100%;
	min-height: 100%;
	position: relative;
	font-family: sans-serif;
	*,*:after,*:before{
		@include box-sizing(border-box);
		outline: none !important;
		@include appearance(none);
	}
}
h1,h2,h3,h4,h5,h6{
	font-weight: 700;
}
h1{
	@include adjust-font-size-to(3.157rem);
}
h2{
	@include adjust-font-size-to(2.369rem);
}
h3{
	@include adjust-font-size-to(1.777rem);
}
h4{
	@include adjust-font-size-to(1.333rem);
}
h5{
	@include adjust-font-size-to(1rem);
}
h6{
	@include adjust-font-size-to(0.75rem);
}

img, iframe{
	max-width: 100%;
}

p{
	@include margin-leader(0.5);
	@include margin-trailer(0.5);
}

ul, ol{
	@include margin-leader(0.5);
	@include margin-trailer(0.5);
	margin-left: 10px;
}

table{
	width: 100%;
	th{
		text-align: center;
		font-weight: 700;
		background: #ccc;
	}
	td,th{
		padding: 10px;
		border: 1px solid #000;
	}
}

a{
	text-decoration: underline;
	&:hover{
		text-decoration: none;
	}
}

%inner-ol{
	ol{
		counter-reset: cnt;
		li{
			padding-left: 20px;
			&:before{
				counter-increment: cnt;
				content: counter(cnt, lower-alpha) ")";
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}
}

%inner-ul{
	ul{
		li{
			padding-left: 20px;
			position: relative;
			&:before{
				content: "*";
				position: absolute;
				top: 2px;
				left: 0;
			}
		}
	}
}

ul{
	& > li{
		padding-left: 20px;
		position: relative;
		&:before{
			content: "—";
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	@extend %inner-ul;
	@extend %inner-ol;
}
ol{
	counter-reset: cnt;
	& > li{
		position: relative;
		padding-left: 20px;
		&:before{
			content: counter(cnt) ".";;
			counter-increment: cnt;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	@extend %inner-ul;
	@extend %inner-ol;
}
