// .l-layout template
.l-page{
	@include clearfix;
	width: $page-width;
	margin: auto;
	height: 100%;
	padding: 0 10px $footer-height;
}
.l-footer{
	height: $footer-height;
	width: 100%;
	min-width: $page-width;
	position: absolute;
	bottom: 0;
	left: 0;
}