// .m-module template
.m-form{
  width: 50%;
  margin: auto;
}
.m-form_item{
  padding: 10px 0;
}

.m-btn{
  padding: 10px 20px;
  margin: 0;
  background: #ccc;
  color: #fff;
  border: 1px solid #999;
  cursor: pointer;
}
/* custom input */
.m-input {
  border: 1px solid #ccc;
  height: 30px;
  width: 100%;
}
/* custom checkbox */
.m-checkbox,
.jq-checkbox { // чекбокс по умолчанию
  width: 13px;
  height: 13px;
  background: #F6F6F6;
  vertical-align: middle;
  cursor: pointer;

  &.checked { // выбранный чекбокс
    border: 1px solid #ccc;

    .jq-checkbox__div { // дополнительный вложенный тег
      width: 9px;
      height: 9px;
      margin: 1px 0 0 1px;
      background: #666;
    }
  }

  &.focused { // фокус на чекбоксе, когда нажата клавиша Tab
    border: 1px solid #08C;
  }

  &.disabled { // неактивный (недоступный для выбора) чекбокс
    @include opacity(.5);
  }
}

/* custom radio */
.m-radio,
.jq-radio { // радиокнопка по умолчанию
  width: 12px;
  height: 12px;
  border: 1px solid #C3C3C3;
  border-radius: 50%;
  background: #F6F6F6;
  vertical-align: middle;
  cursor: pointer;

  &.checked { // выбранная радиокнопка

    .jq-radio__div { // дополнительный вложенный тег
      width: 6px;
      height: 6px;
      margin: 2px 0 0 2px;
      border-radius: 50%;
      background: #666;
    }
  }

  &.focused { // фокус на радиокнопке, когда нажата клавиша Tab
    border: 1px solid #08C;
  }

  &.disabled { // неактивная (недоступная для выбора) радиокнопка
    @include opacity(.5);
  }
}

/* custom file */
.m-file,
.jq-file { // родительский контейнер
  width: 270px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  border-radius: 4px;
  vertical-align: middle;

  input { // скрытый input file
    cursor: pointer;
    height: auto;
    line-height: 1em;
  }

  .jq-file__name { // поле с именем файла
    width: 100%;
    height: 30px;
    padding: 0 80px 0 10px;
    color: #333;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border: 1px solid #CCC;
    border-bottom-color: #B3B3B3;
    border-radius: 4px;
    box-shadow: inset 1px 1px #F1F1F1;
    background: #FFF;
    line-height: 30px;
  }

  .jq-file__browse { // кнопка выбора файла
    position: absolute;
    top: 1px;
    right: 1px;
    padding: 0 10px;
    border-left: 1px solid #CCC;
    border-radius: 0 4px 4px 0;
    background: #F1F1F1;
    color: #333;
    text-shadow: 1px 1px #FFF;
    height: 28px;
    line-height: 28px;
  }

  &.focused { // фокус на поле, когда нажата клавиша Tab

  }

  &.changed { // файл выбран

  }

  &.disabled { // неактивное поле

  }
}

/* custom select */
.m-select,
.jq-selectbox { // родительский контейнер
  vertical-align: middle;
  cursor: pointer;
  width: 100%;

  .jq-selectbox__select { // селект в свернутом состоянии
    height: 30px;
    padding: 0 45px 0 10px;
    border: 1px solid #CCC;
    border-bottom-color: #B3B3B3;
    border-radius: 4px;
    background: #F5F5F5;
    color: #333;
    text-shadow: 1px 1px #FFF;
  }

  .jq-selectbox__select-text { // дополнительный вложенный тег для свернутого селекта (текст)
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 30px;
  }

  .jq-selectbox__trigger { // правая часть свернутого селекта (условный переключатель)
    position: absolute;
    top: 0;
    right: 0;
    width: 34px;
    height: 100%;
    border-left: 1px solid #CCC;
  }

  .jq-selectbox__trigger-arrow { // вложенный тег для переключателя (стрелка)
    @include opacity(.3);
    position: absolute;
    top: 14px;
    right: 12px;
    width: 0;
    height: 0;
    overflow: hidden;
    border-top: 5px solid #000;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
  }

  .jq-selectbox__dropdown { // обертка для выпадающего списка
    top: 33px;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid #CCC;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  }

  ul { // выпадающий список
    margin: 0;
    padding: 0;
  }

  li { // пункт (опция) селекта
    min-height: 18px;
    padding: 5px 10px 6px;
    color: #231F20;

    &:before{
      content: "";
    }

    &.selected { // выбранный пункт селекта
      background-color: #a3abb1;
      color: #fff;
    }

    &.disabled { // неактивный (недоступный для выбора) пункт селекта
      color: #aaa;
    }

    &.optgroup{ // заголовок для группы пунктов
      font-weight: 700;
    }

    &.option { // пункт списка в группе
      padding-left: 25px;
    }

    &:hover{
      background-color: #f5f5f5;
      color: #000;
    }
  }

  .jq-selectbox__search { // обертка для поискового поля
    margin: 5px;

    input { // поисковое поле
      width: 100%;
      margin: 0;
      padding: 5px 27px 6px 8px;
      outline: none;
      border: 1px solid #CCC;
      border-radius: 3px;
      box-shadow: inset 1px 1px #F1F1F1;
      color: #333;
    }
  }

  .jq-selectbox__not-found { // сообщение об отсутствии результатов поиска
    margin: 5px;
    padding: 5px 8px 6px;
    background: #F0F0F0;
    font-size: 13px;
  }

  &.focused { // фокус на селекте, когда нажата клавиша Tab

  }

  &.disabled { // неактивный (недоступный для выбора) селект

  }
}


/* custom multi select */
.m-multiselect,
.jq-select-multiple { // родительский контейнер
  padding: 1px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  border-radius: 4px;
  box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0,0,0,0.1);
  background: #FFF;
  color: #333;
  cursor: default;
  width: 100%;

  ul { // выпадающий список
    margin: 0;
    padding: 0;
  }

  li { // пункт (опция) селекта
    padding: 3px 9px 4px;
    list-style: none;

    &:before{
      content: "";
    }

    &.selected { // выбранный пункт селекта
      background: #08C;
      color: #FFF;
    }

    &.disabled { // неактивный (недоступный для выбора) пункт селекта
      color: #AAA;
    }

    &.optgroup { // заголовок для группы пунктов
      font-weight: 700;
    }

    &.option { // пункт списка в группе
      padding-left: 25px;
    }
  }

  &.focused { // фокус на селекте, когда нажата клавиша Tab
    border: 1px solid #5794BF;
  }

  &.disabled { // неактивный (недоступный для выбора) селект
    border-color: #CCC;
    background: #F5F5F5;
    box-shadow: none;
    color: #888;
  }
}
